In [126]:
#creation database

import sqlite3

# connexion (+ creation de la base si elle n'existe pas)
connexion = sqlite3.connect('Database.db')
cursor = connexion.cursor()
# Creation des tables dans la base de donnée
cursor.executescript('''
    CREATE TABLE IF NOT EXISTS d_entreprise (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        entreprise_nom TEXT,
        entreprise_description TEXT
    );

    CREATE TABLE IF NOT EXISTS h_departement (
        departement TEXT PRIMARY KEY
    );
    
    CREATE TABLE IF NOT EXISTS d_ville (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        ville TEXT,
        latitude REAL,
        longitude REAL,
        code_postal TEXT,
        departement TEXT,
        FOREIGN KEY (departement) REFERENCES h_departement (departement)
    );

    CREATE TABLE IF NOT EXISTS offres (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        intitule TEXT,
        description_offre TEXT,
        date_creation TEXT,
        salaire TEXT,
        qualification_libelle TEXT,
        experience TEXT,
        type_contrat TEXT,
        secteur_activite TEXT,
        id_ville INTEGER,
        id_entreprise INTEGER,
        FOREIGN KEY (id_ville) REFERENCES d_ville (id),
        FOREIGN KEY (id_entreprise) REFERENCES d_entreprise (id)
    );
''')
# Commit changes and close the connection
connexion.commit()
connexion.close()

In [127]:
#connexion.close()

In [128]:
import pandas as pd

In [129]:
df = pd.read_csv('Jobs.csv')

In [130]:
df.head(3)

,intitule,description_offre,dateCreation,typeContrat,experienceExige,secteurActiviteLibelle,qualificationLibelle,latitude,longitude,codePostal,commune,departement,ville,experienceOuiNon,entreprise_nom,entreprise_description,salaire,profils
0,Consultant(e) Senior Data Engineer F/H - ADN E...,Poste et missions\n \n \n \n- \nParticiper à...,30/12/2023,CDI,E,Activités des agences de travail temporaire,NaN,NaN,NaN,NaN,NaN,Ile-de-France,NaN,oui,ADN Emploi,ADN Emploi Lille est une agence de recrutement...,NaN,NaN
1,Senior Data Engineer F/H (H/F),"Le saviez-vous ?\n\nNous rejoindre, c'est rejo...",29/12/2023,CDI,E,Autres activités informatiques,NaN,48.727791,2.275131,91300.0,91377.0,91,MASSY,oui,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",NaN,NaN
2,Data Engineer H/F,"Rejoindre le Groupe IRCEM, c'est participer à ...",29/12/2023,CDI,E,NaN,NaN,50.688454,3.183662,59100.0,59512.0,59,ROUBAIX,oui,IRCEM,NaN,NaN,NaN

In [131]:
df = df.rename(columns={'dateCreation':'date_creation', 'qualificationLibelle':'qualification_libelle', 'experienceOuiNon':"experience", 'typeContrat':'type_contrat', 'secteurActiviteLibelle':'secteur_activite', 'codePostal':'code_postal' })

In [132]:
df.columns

Index(['intitule', 'description_offre', 'date_creation', 'type_contrat',
       'experienceExige', 'secteur_activite', 'qualification_libelle',
       'latitude', 'longitude', 'code_postal', 'commune', 'departement',
       'ville', 'experience', 'entreprise_nom', 'entreprise_description',
       'salaire', 'profils'],
      dtype='object')

In [133]:
df['entreprise_nom'].unique().shape

(172,)

In [134]:
df['entreprise_description'].unique().shape

(200,)

In [135]:
df[['entreprise_nom', 'entreprise_description']].drop_duplicates()

,entreprise_nom,entreprise_description
0,ADN Emploi,ADN Emploi Lille est une agence de recrutement...
1,NaN,"Nous rejoindre, c'est rejoindre l'un des leade..."
2,IRCEM,NaN
4,CPF,"Depuis 2002, Amorino émerveille les gourmands ..."
5,NaN,Ministère de l'Intérieur
...,...,...
423,EURO-INFORMATION DEVELOPPEMENTS,"Euro-Information, filiale technologique de Cré..."
424,CNAF,Vous souhaitez rejoindre une équipe expériment...
425,DIRECTION DU NUMÉRIQUE DES MINISTÈRES SOCIAUX,Vous souhaitez intégrer une Direction numériqu...
426,CNAF,Vous souhaitez rejoindre une équipe expériment...
427,ORANGE BUSINESS,L'ambition d'Orange Business est de devenir l'...

In [136]:
connexion = sqlite3.connect('Database.db')

# insertion des données dans les tables d_entreprise, h_departement, d_ville
# on insert pas les id pour le moment
# d_entreprise
print(df[['entreprise_nom', 'entreprise_description']].drop_duplicates().head(3))
df[['entreprise_nom', 'entreprise_description']].drop_duplicates().to_sql('d_entreprise', connexion, if_exists='append', index=False)

# h_departement
print(df[['departement']].drop_duplicates()) #on pourra ajouter la région dans cette table plus tard
df[['departement']].drop_duplicates().to_sql('h_departement', connexion, if_exists='append', index=False)

# d_ville
print(df[['ville', 'latitude', 'longitude', 'code_postal', 'departement']].drop_duplicates().head(3))
df[['ville', 'latitude', 'longitude', 'code_postal', 'departement']].drop_duplicates().to_sql('d_ville', connexion, if_exists='append', index=False)

  entreprise_nom                             entreprise_description
0     ADN Emploi  ADN Emploi Lille est une agence de recrutement...
1            NaN  Nous rejoindre, c'est rejoindre l'un des leade...
2          IRCEM                                                NaN
          departement
0       Ile-de-France
1                  91
2                  59
4                  94
5                  92
7                  45
8                  13
9                  69
11                 44
12                 33
14                 67
15                 93
16                 14
17                 34
18                 75
23                 31
31                 73
56                 26
64                 74
67   Pays de la Loire
71                 06
76                 78
80                 84
86                 35
95                 76
139                79
140            France
153                38
156                80
160                83
161                40
169                64
188                30
206                12
227                72
242                57
244                90
247                63
267                47
272                77
282                85
292                21
380               972
397                25
     ville   latitude  longitude  code_postal    departement
0      NaN        NaN        NaN          NaN  Ile-de-France
1    MASSY  48.727791   2.275131      91300.0             91
2  ROUBAIX  50.688454   3.183662      59100.0             59

190

In [137]:
# d_ville
print(df[['ville', 'latitude', 'longitude', 'code_postal', 'departement']].drop_duplicates().head(3))
df[['ville', 'latitude', 'longitude', 'code_postal', 'departement']].drop_duplicates().to_sql('d_ville', connexion, if_exists='append', index=False)

     ville   latitude  longitude  code_postal    departement
0      NaN        NaN        NaN          NaN  Ile-de-France
1    MASSY  48.727791   2.275131      91300.0             91
2  ROUBAIX  50.688454   3.183662      59100.0             59

190

In [139]:
''' la fonction map est comme la fonction apply de R, 
il applique une fonction sur chaque ligne de la dataframe.
Nous nous en servons pour réccupérer les id de chaque entreprise dans d_entreprise,
ces id seront placés dans la colonne id_entreprise de la table offres
'''
# creation de id_entreprise
company_mapping = pd.read_sql('SELECT id,entreprise_nom,entreprise_description FROM d_entreprise', connexion)
df['id_entreprise'] = df['entreprise_nom'].map(company_mapping.set_index(['entreprise_nom','entreprise_description'])['id'])


# Map company names to company IDs (drop duplicates first)
#df['id_entreprise'] = df['entreprise_nom'].map(
#    df[['entreprise_nom', 'id_entreprise']].drop_duplicates().set_index('entreprise_nom')['id_entreprise']
#)

In [140]:
df['id_entreprise'].unique()

array([nan])

In [ ]:
# fin temporaire de l'intégration des données
connexion.commit()
connexion.close()

In [144]:
connexion = sqlite3.connect('Database.db')
connexion.close()

In [145]:
# accès à la table departement pour afficher son contenu
connexion = sqlite3.connect('Database.db')
cursor = connexion.cursor()

# selectionner toutes les colonnes de la table d_ville
query = 'SELECT * FROM d_ville'
cursor.execute(query)

# placer la selection dans une variable
rows = cursor.fetchall()

# parcourir la variable pour afficher les données
for row in rows:
    print(row)

connexion.close()

(1, None, None, None, None, 'Ile-de-France')
(2, 'MASSY', 48.727791, 2.275131, '91300.0', '91')
(3, 'ROUBAIX', 50.688454, 3.183662, '59100.0', '59')
(4, 'ORLY', 48.742287, 2.395245, '94310.0', '94')
(5, 'Hauts de Seine', None, None, None, '92')
(6, 'ORLEANS', 1.908606, 47.902733, '45000.0', '45')
(7, 'AIX EN PROVENCE', 5.447473, 43.529842, '13080.0', '13')
(8, 'LYON 09', 4.806248, 45.774, '69009.0', '69')
(9, 'LESQUIN', 3.10997, 50.5888, '59810.0', '59')
(10, 'NANTES', -1.554136, 47.218637, '44000.0', '44')
(11, 'PESSAC', -0.630839, 44.805615, '33600.0', '33')
(12, 'BEAURAIN', 3.554142, 50.18045, '59730.0', '59')
(13, 'SCHILTIGHEIM', 7.748448, 48.604714, '67300.0', '67')
(14, 'MONTREUIL', 2.441218, 48.862335, '93100.0', '93')
(15, 'CAEN', -0.363561, 49.18134, '14000.0', '14')
(16, 'MONTPELLIER', 3.876733, 43.611242, '34000.0', '34')
(17, 'PARIS 01', 48.859, 2.347, '75001.0', '75')
(18, 'NANTES', 47.239367, -1.555335, '44000.0', '44')
(19, 'Paris (Dept.)', None, None, None, '75')
(20, 'PUTEAUX', 48.884156, 2.237199, '92800.0', '92')
(21, 'TOULOUSE', 43.604082, 1.433805, '31000.0', '31')
(22, 'BORDEAUX', 44.851895, -0.587877, '33000.0', '33')
(23, 'OLIVET', 47.859265, 1.889415, '45160.0', '45')
(24, 'ORLEANS', 47.903, 1.9093, '45000.0', '45')
(25, None, None, None, None, '75')
(26, 'MONTPELLIER', 43.610476, 3.87048, '34000.0', '34')
(27, 'PARIS 09', 48.877098, 2.337887, '75009.0', '75')
(28, 'LILLE', 50.630992, 3.045433, '59000.0', '59')
(29, 'CHAMBERY', 45.583183, 5.909034, '73000.0', '73')
(30, 'NEUILLY SUR SEINE', 48.886191, 2.265869, '92200.0', '92')
(31, 'Nord', None, None, None, '59')
(32, 'PARIS 02', 48.867745, 2.341157, '75002.0', '75')
(33, 'PARIS 16', 48.859, 2.347, '75016.0', '75')
(34, 'ROMANS SUR ISERE', 45.058453, 5.046324, '26100.0', '26')
(35, 'OLIVET', 47.854698, 1.888239, '45160.0', '45')
(36, 'ST MAURICE', 48.817936, 2.44166, '94410.0', '94')
(37, 'AIX EN PROVENCE', 43.536112, 5.39863, '13080.0', '13')
(38, 'ANNECY', 45.901584, 6.125296, '74000.0', '74')
(39, None, None, None, None, '69')
(40, None, None, None, None, 'Pays de la Loire')
(41, 'MARSEILLE 13', 43.340303, 5.429033, '13013.0', '13')
(42, 'NICE', 43.713012, 7.250987, '6000.0', '06')
(43, 'VELIZY VILLACOUBLAY', 48.785929, 2.190344, '78140.0', '78')
(44, 'AVIGNON', 43.936694, 4.845053, '84000.0', '84')
(45, 'VALENCE', 44.921313, 4.923011, '26000.0', '26')
(46, 'ST DENIS', 48.927213, 2.361465, '93200.0', '93')
(47, 'RENNES', 48.110899, -1.68365, '35000.0', '35')
(48, 'NICE', 43.711998, 7.238269, '6000.0', '06')
(49, 'ROUEN', 50.278198, 1.665008, '76000.0', '76')
(50, 'FONTENAY SOUS BOIS', 48.850004, 2.473494, '94120.0', '94')
(51, 'LYON 01', 45.758, 4.835, '69001.0', '69')
(52, 'PARIS 08', 48.873707, 2.3116, '75008.0', '75')
(53, 'VILLENEUVE D ASCQ', 50.637916, 3.147134, '59491.0', '59')
(54, 'LEVALLOIS PERRET', 48.894215, 2.286846, '92300.0', '92')
(55, 'MARSEILLE 15', 43.351766, 5.3576, '13015.0', '13')
(56, 'PARIS 06', 48.849268, 2.330883, '75006.0', '75')
(57, 'NANTERRE', 48.898095, 2.202314, '92000.0', '92')
(58, 'LE PERRAY EN YVELINES', 48.694115, 1.843396, '78610.0', '78')
(59, 'PUTEAUX', 48.884331, 2.237177, '92800.0', '92')
(60, 'NIORT', 46.327372, -0.466291, '79000.0', '79')
(61, None, None, None, None, 'France')
(62, 'VALBONNE', 43.627339, 7.016557, '6560.0', '06')
(63, 'MARSEILLE 15', 5.364765, 43.353155, '13015.0', '13')
(64, 'PARIS 08', 2.320377, 48.871597, '75008.0', '75')
(65, 'MASSY', 48.727507, 2.27524, '91300.0', '91')
(66, 'GRENOBLE', 45.182081, 5.7243, '38000.0', '38')
(67, 'Somme', None, None, None, '80')
(68, 'TOULON', 43.136385, 5.933457, '83000.0', '83')
(69, 'HAUT MAUCO', 43.833856, -0.549866, '40280.0', '40')
(70, 'Drôme', None, None, None, '26')
(71, 'MASSY', 48.728133, 2.269556, '91300.0', '91')
(72, 'VALBONNE', 43.628057, 7.029318, '6560.0', '06')
(73, 'BAYONNE', 43.492226, -1.466077, '64100.0', '64')
(74, None, 49.900951, 2.290074, None, 'France')
(75, 'PARIS 05', 48.845277, 2.350859, '75005.0', '75')
(76, 'PUTEAUX', 48.883709, 2.238342, '92800.0', '92')
(77, 'GRENOBLE', 45.182121, 5.721331, '38000.0', '38')
(78, 'CRUVIERS LASCOURS', 44.010263, 4.196117, '30360.0', '30')
(79, 'CLUSES', 46.064934, 6.574208, '74300.0', '74')
(80, 'MONTROUGE', 48.815929, 2.316207, '92120.0', '92')
(81, 'PUTEAUX', 48.867657, 2.396598, '92800.0', '92')
(82, 'Garonne (Haute)', None, None, None, '31')
(83, 'BEAURECUEIL', 43.510617, 5.544554, '13100.0', '13')
(84, 'GIF SUR YVETTE', 48.695026, 2.130573, '91190.0', '91')
(85, 'ISSY LES MOULINEAUX', 48.823903, 2.262888, '92130.0', '92')
(86, 'PAU', 43.320019, -0.350338, '64000.0', '64')
(87, 'RODEZ', 44.359272, 2.566732, '12000.0', '12')
(88, 'CHAMPAGNE AU MONT D OR', 45.798586, 4.784087, '69410.0', '69')
(89, 'CHAPONNAY', 45.63657, 4.949114, '69970.0', '69')
(90, 'Seine Saint Denis', None, None, None, '93')
(91, 'PIERRELATTE', 44.3833, 4.7, '26700.0', '26')
(92, 'VELIZY VILLACOUBLAY', 48.783985, 2.197075, '78140.0', '78')
(93, 'Paris (Dept.)', 48.86702, 2.32572, None, '75')
(94, 'Paris (Dept.)', 48.82595, 2.28069, None, '75')
(95, 'JARRIE', 45.104325, 5.749183, '38560.0', '38')
(96, 'MONDEVILLE', 49.169445, -0.309811, '14120.0', '14')
(97, 'Paris (Dept.)', 48.83159, 2.38854, None, '75')
(98, 'LOUAILLES', 47.789162, -0.248968, '72300.0', '72')
(99, None, 44.125011, 4.088285, None, 'France')
(100, 'LYON 03', 45.751578, 4.869577, '69003.0', '69')
(101, 'VITROLLES', 43.449805, 5.263415, '13127.0', '13')
(102, 'CROIX', 50.674068, 3.15464, '59170.0', '59')
(103, 'METZ', 49.108385, 6.194897, '57000.0', '57')
(104, 'CESSON SEVIGNE', 48.123772, -1.596972, '35510.0', '35')
(105, 'BELFORT', 47.640938, 6.857469, '90000.0', '90')
(106, 'ROUEN', 51.165691, 10.451526, '76000.0', '76')
(107, 'CLERMONT FERRAND', 45.786671, 3.107042, '63000.0', '63')
(108, 'TORCE', 48.06434, -1.268565, '35370.0', '35')
(109, 'IVRY SUR SEINE', 48.812752, 2.386427, '94200.0', '94')
(110, 'VILLE', 48.342359, 7.302618, '67220.0', '67')
(111, 'AIX EN PROVENCE', 43.541369, 5.406124, '13090.0', '13')
(112, 'AGEN', 44.202304, 0.631041, '47000.0', '47')
(113, 'MOISSY CRAMAYEL', 48.6167, 2.6, '77550.0', '77')
(114, None, 43.2967, 5.37639, None, '13')
(115, 'MONTEREAU SUR LE JARD', 48.5833, 2.66667, '77950.0', '77')
(116, 'BENFELD', 48.371893, 7.595545, '67230.0', '67')
(117, 'PARIS 03', 48.862489, 2.359316, '75003.0', '75')
(118, 'MAGNY LES HAMEAUX', 48.7333, 2.06667, '78114.0', '78')
(119, 'Le Kremlin-Bicêtre', None, None, None, '94')
(120, 'Montreuil', None, None, None, '85')
(121, 'Émerainville', None, None, None, '77')
(122, 'Boulogne-Billancourt', None, None, None, '92')
(123, 'Nantes', None, None, None, '44')
(124, 'Clermont-Ferrand', None, None, None, '63')
(125, 'Courbevoie', None, None, None, '92')
(126, 'Montpellier', None, None, None, '34')
(127, 'Bordeaux', None, None, None, '33')
(128, 'Paris 08', None, None, None, '75')
(129, 'Dijon', None, None, None, '21')
(130, 'Lyon 03', None, None, None, '69')
(131, 'Rennes', None, None, None, '35')
(132, 'Nice', None, None, None, '06')
(133, 'Pusignan', None, None, None, '69')
(134, 'Lille', None, None, None, '59')
(135, 'Paris 01', None, None, None, '75')
(136, 'Paris 17', None, None, None, '75')
(137, 'Haute-Garonne', None, None, None, '31')
(138, 'Romans-sur-Isère', None, None, None, '26')
(139, 'Schiltigheim', None, None, None, '67')
(140, 'Lesquin', None, None, None, '59')
(141, 'Beaurain', None, None, None, '59')
(142, 'Caen', None, None, None, '14')
(143, 'Orléans', None, None, None, '45')
(144, 'Aix-en-Provence', None, None, None, '13')
(145, 'Lyon 09', None, None, None, '69')
(146, 'Pessac', None, None, None, '33')
(147, 'Montreuil', None, None, None, '93')
(148, 'Hauts-de-Seine', None, None, None, '92')
(149, 'Fontenay-sous-Bois', None, None, None, '94')
(150, 'Marseille 01', None, None, None, '13')
(151, 'Toulouse', None, None, None, '31')
(152, 'Levallois-Perret', None, None, None, '92')
(153, 'Villeurbanne', None, None, None, '69')
(154, 'Colombes', None, None, None, '92')
(155, 'Chambéry', None, None, None, '73')
(156, 'Paris 19', None, None, None, '75')
(157, 'Niort', None, None, None, '79')
(158, 'Paris 09', None, None, None, '75')
(159, 'Saint-Maurice', None, None, None, '94')
(160, 'Lyon 01', None, None, None, '69')
(161, 'Paris 14', None, None, None, '75')
(162, 'Neuilly-sur-Seine', None, None, None, '92')
(163, 'Suresnes', None, None, None, '92')
(164, 'Ivry-sur-Seine', None, None, None, '94')
(165, 'Puteaux', None, None, None, '92')
(166, 'Le Perray-en-Yvelines', None, None, None, '78')
(167, 'Valence', None, None, None, '26')
(168, 'Avignon', None, None, None, '84')
(169, 'Paris 10', None, None, None, '75')
(170, 'Saint-Denis', None, None, None, '93')
(171, 'Rue', None, None, None, '80')
(172, 'Issy-les-Moulineaux', None, None, None, '92')
(173, 'Fort-de-France', None, None, None, '972')
(174, 'Paris 12', None, None, None, '75')
(175, 'Pau', None, None, None, '64')
(176, 'Cesson-Sévigné', None, None, None, '35')
(177, 'Valbonne', None, None, None, '06')
(178, 'Champs-sur-Marne', None, None, None, '77')
(179, 'Besançon', None, None, None, '25')
(180, 'Paris 15', None, None, None, '75')
(181, 'Grenoble', None, None, None, '38')
(182, 'Sèvres', None, None, None, '92')
(183, "Champagne-au-Mont-d'Or", None, None, None, '69')
(184, "Villeneuve-d'Ascq", None, None, None, '59')
(185, 'Pierrelatte', None, None, None, '26')
(186, 'Benfeld', None, None, None, '67')
(187, 'Vélizy-Villacoublay', None, None, None, '78')
(188, 'Trappes', None, None, None, '78')
(189, 'Strasbourg', None, None, None, '67')
(190, 'Belfort', None, None, None, '90')
(191, None, None, None, None, 'Ile-de-France')
(192, 'MASSY', 48.727791, 2.275131, '91300.0', '91')
(193, 'ROUBAIX', 50.688454, 3.183662, '59100.0', '59')
(194, 'ORLY', 48.742287, 2.395245, '94310.0', '94')
(195, 'Hauts de Seine', None, None, None, '92')
(196, 'ORLEANS', 1.908606, 47.902733, '45000.0', '45')
(197, 'AIX EN PROVENCE', 5.447473, 43.529842, '13080.0', '13')
(198, 'LYON 09', 4.806248, 45.774, '69009.0', '69')
(199, 'LESQUIN', 3.10997, 50.5888, '59810.0', '59')
(200, 'NANTES', -1.554136, 47.218637, '44000.0', '44')
(201, 'PESSAC', -0.630839, 44.805615, '33600.0', '33')
(202, 'BEAURAIN', 3.554142, 50.18045, '59730.0', '59')
(203, 'SCHILTIGHEIM', 7.748448, 48.604714, '67300.0', '67')
(204, 'MONTREUIL', 2.441218, 48.862335, '93100.0', '93')
(205, 'CAEN', -0.363561, 49.18134, '14000.0', '14')
(206, 'MONTPELLIER', 3.876733, 43.611242, '34000.0', '34')
(207, 'PARIS 01', 48.859, 2.347, '75001.0', '75')
(208, 'NANTES', 47.239367, -1.555335, '44000.0', '44')
(209, 'Paris (Dept.)', None, None, None, '75')
(210, 'PUTEAUX', 48.884156, 2.237199, '92800.0', '92')
(211, 'TOULOUSE', 43.604082, 1.433805, '31000.0', '31')
(212, 'BORDEAUX', 44.851895, -0.587877, '33000.0', '33')
(213, 'OLIVET', 47.859265, 1.889415, '45160.0', '45')
(214, 'ORLEANS', 47.903, 1.9093, '45000.0', '45')
(215, None, None, None, None, '75')
(216, 'MONTPELLIER', 43.610476, 3.87048, '34000.0', '34')
(217, 'PARIS 09', 48.877098, 2.337887, '75009.0', '75')
(218, 'LILLE', 50.630992, 3.045433, '59000.0', '59')
(219, 'CHAMBERY', 45.583183, 5.909034, '73000.0', '73')
(220, 'NEUILLY SUR SEINE', 48.886191, 2.265869, '92200.0', '92')
(221, 'Nord', None, None, None, '59')
(222, 'PARIS 02', 48.867745, 2.341157, '75002.0', '75')
(223, 'PARIS 16', 48.859, 2.347, '75016.0', '75')
(224, 'ROMANS SUR ISERE', 45.058453, 5.046324, '26100.0', '26')
(225, 'OLIVET', 47.854698, 1.888239, '45160.0', '45')
(226, 'ST MAURICE', 48.817936, 2.44166, '94410.0', '94')
(227, 'AIX EN PROVENCE', 43.536112, 5.39863, '13080.0', '13')
(228, 'ANNECY', 45.901584, 6.125296, '74000.0', '74')
(229, None, None, None, None, '69')
(230, None, None, None, None, 'Pays de la Loire')
(231, 'MARSEILLE 13', 43.340303, 5.429033, '13013.0', '13')
(232, 'NICE', 43.713012, 7.250987, '6000.0', '06')
(233, 'VELIZY VILLACOUBLAY', 48.785929, 2.190344, '78140.0', '78')
(234, 'AVIGNON', 43.936694, 4.845053, '84000.0', '84')
(235, 'VALENCE', 44.921313, 4.923011, '26000.0', '26')
(236, 'ST DENIS', 48.927213, 2.361465, '93200.0', '93')
(237, 'RENNES', 48.110899, -1.68365, '35000.0', '35')
(238, 'NICE', 43.711998, 7.238269, '6000.0', '06')
(239, 'ROUEN', 50.278198, 1.665008, '76000.0', '76')
(240, 'FONTENAY SOUS BOIS', 48.850004, 2.473494, '94120.0', '94')
(241, 'LYON 01', 45.758, 4.835, '69001.0', '69')
(242, 'PARIS 08', 48.873707, 2.3116, '75008.0', '75')
(243, 'VILLENEUVE D ASCQ', 50.637916, 3.147134, '59491.0', '59')
(244, 'LEVALLOIS PERRET', 48.894215, 2.286846, '92300.0', '92')
(245, 'MARSEILLE 15', 43.351766, 5.3576, '13015.0', '13')
(246, 'PARIS 06', 48.849268, 2.330883, '75006.0', '75')
(247, 'NANTERRE', 48.898095, 2.202314, '92000.0', '92')
(248, 'LE PERRAY EN YVELINES', 48.694115, 1.843396, '78610.0', '78')
(249, 'PUTEAUX', 48.884331, 2.237177, '92800.0', '92')
(250, 'NIORT', 46.327372, -0.466291, '79000.0', '79')
(251, None, None, None, None, 'France')
(252, 'VALBONNE', 43.627339, 7.016557, '6560.0', '06')
(253, 'MARSEILLE 15', 5.364765, 43.353155, '13015.0', '13')
(254, 'PARIS 08', 2.320377, 48.871597, '75008.0', '75')
(255, 'MASSY', 48.727507, 2.27524, '91300.0', '91')
(256, 'GRENOBLE', 45.182081, 5.7243, '38000.0', '38')
(257, 'Somme', None, None, None, '80')
(258, 'TOULON', 43.136385, 5.933457, '83000.0', '83')
(259, 'HAUT MAUCO', 43.833856, -0.549866, '40280.0', '40')
(260, 'Drôme', None, None, None, '26')
(261, 'MASSY', 48.728133, 2.269556, '91300.0', '91')
(262, 'VALBONNE', 43.628057, 7.029318, '6560.0', '06')
(263, 'BAYONNE', 43.492226, -1.466077, '64100.0', '64')
(264, None, 49.900951, 2.290074, None, 'France')
(265, 'PARIS 05', 48.845277, 2.350859, '75005.0', '75')
(266, 'PUTEAUX', 48.883709, 2.238342, '92800.0', '92')
(267, 'GRENOBLE', 45.182121, 5.721331, '38000.0', '38')
(268, 'CRUVIERS LASCOURS', 44.010263, 4.196117, '30360.0', '30')
(269, 'CLUSES', 46.064934, 6.574208, '74300.0', '74')
(270, 'MONTROUGE', 48.815929, 2.316207, '92120.0', '92')
(271, 'PUTEAUX', 48.867657, 2.396598, '92800.0', '92')
(272, 'Garonne (Haute)', None, None, None, '31')
(273, 'BEAURECUEIL', 43.510617, 5.544554, '13100.0', '13')
(274, 'GIF SUR YVETTE', 48.695026, 2.130573, '91190.0', '91')
(275, 'ISSY LES MOULINEAUX', 48.823903, 2.262888, '92130.0', '92')
(276, 'PAU', 43.320019, -0.350338, '64000.0', '64')
(277, 'RODEZ', 44.359272, 2.566732, '12000.0', '12')
(278, 'CHAMPAGNE AU MONT D OR', 45.798586, 4.784087, '69410.0', '69')
(279, 'CHAPONNAY', 45.63657, 4.949114, '69970.0', '69')
(280, 'Seine Saint Denis', None, None, None, '93')
(281, 'PIERRELATTE', 44.3833, 4.7, '26700.0', '26')
(282, 'VELIZY VILLACOUBLAY', 48.783985, 2.197075, '78140.0', '78')
(283, 'Paris (Dept.)', 48.86702, 2.32572, None, '75')
(284, 'Paris (Dept.)', 48.82595, 2.28069, None, '75')
(285, 'JARRIE', 45.104325, 5.749183, '38560.0', '38')
(286, 'MONDEVILLE', 49.169445, -0.309811, '14120.0', '14')
(287, 'Paris (Dept.)', 48.83159, 2.38854, None, '75')
(288, 'LOUAILLES', 47.789162, -0.248968, '72300.0', '72')
(289, None, 44.125011, 4.088285, None, 'France')
(290, 'LYON 03', 45.751578, 4.869577, '69003.0', '69')
(291, 'VITROLLES', 43.449805, 5.263415, '13127.0', '13')
(292, 'CROIX', 50.674068, 3.15464, '59170.0', '59')
(293, 'METZ', 49.108385, 6.194897, '57000.0', '57')
(294, 'CESSON SEVIGNE', 48.123772, -1.596972, '35510.0', '35')
(295, 'BELFORT', 47.640938, 6.857469, '90000.0', '90')
(296, 'ROUEN', 51.165691, 10.451526, '76000.0', '76')
(297, 'CLERMONT FERRAND', 45.786671, 3.107042, '63000.0', '63')
(298, 'TORCE', 48.06434, -1.268565, '35370.0', '35')
(299, 'IVRY SUR SEINE', 48.812752, 2.386427, '94200.0', '94')
(300, 'VILLE', 48.342359, 7.302618, '67220.0', '67')
(301, 'AIX EN PROVENCE', 43.541369, 5.406124, '13090.0', '13')
(302, 'AGEN', 44.202304, 0.631041, '47000.0', '47')
(303, 'MOISSY CRAMAYEL', 48.6167, 2.6, '77550.0', '77')
(304, None, 43.2967, 5.37639, None, '13')
(305, 'MONTEREAU SUR LE JARD', 48.5833, 2.66667, '77950.0', '77')
(306, 'BENFELD', 48.371893, 7.595545, '67230.0', '67')
(307, 'PARIS 03', 48.862489, 2.359316, '75003.0', '75')
(308, 'MAGNY LES HAMEAUX', 48.7333, 2.06667, '78114.0', '78')
(309, 'Le Kremlin-Bicêtre', None, None, None, '94')
(310, 'Montreuil', None, None, None, '85')
(311, 'Émerainville', None, None, None, '77')
(312, 'Boulogne-Billancourt', None, None, None, '92')
(313, 'Nantes', None, None, None, '44')
(314, 'Clermont-Ferrand', None, None, None, '63')
(315, 'Courbevoie', None, None, None, '92')
(316, 'Montpellier', None, None, None, '34')
(317, 'Bordeaux', None, None, None, '33')
(318, 'Paris 08', None, None, None, '75')
(319, 'Dijon', None, None, None, '21')
(320, 'Lyon 03', None, None, None, '69')
(321, 'Rennes', None, None, None, '35')
(322, 'Nice', None, None, None, '06')
(323, 'Pusignan', None, None, None, '69')
(324, 'Lille', None, None, None, '59')
(325, 'Paris 01', None, None, None, '75')
(326, 'Paris 17', None, None, None, '75')
(327, 'Haute-Garonne', None, None, None, '31')
(328, 'Romans-sur-Isère', None, None, None, '26')
(329, 'Schiltigheim', None, None, None, '67')
(330, 'Lesquin', None, None, None, '59')
(331, 'Beaurain', None, None, None, '59')
(332, 'Caen', None, None, None, '14')
(333, 'Orléans', None, None, None, '45')
(334, 'Aix-en-Provence', None, None, None, '13')
(335, 'Lyon 09', None, None, None, '69')
(336, 'Pessac', None, None, None, '33')
(337, 'Montreuil', None, None, None, '93')
(338, 'Hauts-de-Seine', None, None, None, '92')
(339, 'Fontenay-sous-Bois', None, None, None, '94')
(340, 'Marseille 01', None, None, None, '13')
(341, 'Toulouse', None, None, None, '31')
(342, 'Levallois-Perret', None, None, None, '92')
(343, 'Villeurbanne', None, None, None, '69')
(344, 'Colombes', None, None, None, '92')
(345, 'Chambéry', None, None, None, '73')
(346, 'Paris 19', None, None, None, '75')
(347, 'Niort', None, None, None, '79')
(348, 'Paris 09', None, None, None, '75')
(349, 'Saint-Maurice', None, None, None, '94')
(350, 'Lyon 01', None, None, None, '69')
(351, 'Paris 14', None, None, None, '75')
(352, 'Neuilly-sur-Seine', None, None, None, '92')
(353, 'Suresnes', None, None, None, '92')
(354, 'Ivry-sur-Seine', None, None, None, '94')
(355, 'Puteaux', None, None, None, '92')
(356, 'Le Perray-en-Yvelines', None, None, None, '78')
(357, 'Valence', None, None, None, '26')
(358, 'Avignon', None, None, None, '84')
(359, 'Paris 10', None, None, None, '75')
(360, 'Saint-Denis', None, None, None, '93')
(361, 'Rue', None, None, None, '80')
(362, 'Issy-les-Moulineaux', None, None, None, '92')
(363, 'Fort-de-France', None, None, None, '972')
(364, 'Paris 12', None, None, None, '75')
(365, 'Pau', None, None, None, '64')
(366, 'Cesson-Sévigné', None, None, None, '35')
(367, 'Valbonne', None, None, None, '06')
(368, 'Champs-sur-Marne', None, None, None, '77')
(369, 'Besançon', None, None, None, '25')
(370, 'Paris 15', None, None, None, '75')
(371, 'Grenoble', None, None, None, '38')
(372, 'Sèvres', None, None, None, '92')
(373, "Champagne-au-Mont-d'Or", None, None, None, '69')
(374, "Villeneuve-d'Ascq", None, None, None, '59')
(375, 'Pierrelatte', None, None, None, '26')
(376, 'Benfeld', None, None, None, '67')
(377, 'Vélizy-Villacoublay', None, None, None, '78')
(378, 'Trappes', None, None, None, '78')
(379, 'Strasbourg', None, None, None, '67')
(380, 'Belfort', None, None, None, '90')

In [141]:
# Insertion des données dans la table offre
#df[['intitule', 'description_offre', 'date_creation', 'salaire', 'qualification_libelle',
#    'experience', 'type_contrat', 'secteur_activite', 'id_ville', 'id_entreprise']].to_sql('offres', connexion, if_exists='append', index=False)

# Commit et fermeture de la connexion
#connexion.commit()
#connexion.close()

KeyError: "['id_ville'] not in index"

In [ ]:
# probleme avec id entreprise, complexe à réccupérer