In [1]:
import pandas as pd

## On va ajouter de l'Open Data pour avoir les latitudes, longitudes et les régions complètes.

In [3]:
jobs = pd.read_csv('Jobs.csv')

In [34]:
cities = pd.read_csv('cities.csv',sep=';')

In [44]:
cities['ville'] = cities['ville'].str.upper()

In [82]:
#on enlève les doublons
cities = cities.drop_duplicates()

In [83]:
nombre_de_doublons = cities.duplicated().sum()
print(nombre_de_doublons)

0

In [85]:
#on enlève les doublons
jobs = jobs.drop_duplicates()

In [86]:
nombre_de_doublons = jobs.duplicated().sum()
print(nombre_de_doublons)

0

In [40]:
columns_to_drop = ['commune', 'latitude', 'longitude', 'codePostal']
jobs = jobs.drop(columns=columns_to_drop)

In [89]:
df = pd.merge(jobs, cities, how='inner', on='ville')

In [90]:
df

,intitule,description_offre,dateCreation,typeContrat,experienceExige,secteurActiviteLibelle,qualificationLibelle,departement,ville,experienceOuiNon,entreprise_nom,entreprise_description,salaire,profils,code_postal,latitude,longitude,department_name,region
0,Senior Data Engineer F/H (H/F),"Le saviez-vous ?\n\nNous rejoindre, c'est rejo...",29/12/2023,CDI,E,Autres activités informatiques,NaN,91,MASSY,oui,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",NaN,NaN,76270,49.687882,1.395968,seine-maritime,normandie
1,Senior Data Engineer F/H (H/F),"Le saviez-vous ?\n\nNous rejoindre, c'est rejo...",29/12/2023,CDI,E,Autres activités informatiques,NaN,91,MASSY,oui,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",NaN,NaN,91300,48.727507,2.275240,essonne,île-de-france
2,Lead Data Scientist - Demand Forecast H/F,POSTE : Lead Data Scientist - Demand Forecast ...,30/12/2023,CDI,E,Activités des sièges sociaux,Cadre,91,MASSY,oui,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",NaN,NaN,76270,49.687882,1.395968,seine-maritime,normandie
3,Lead Data Scientist - Demand Forecast H/F,POSTE : Lead Data Scientist - Demand Forecast ...,30/12/2023,CDI,E,Activités des sièges sociaux,Cadre,91,MASSY,oui,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",NaN,NaN,91300,48.727507,2.275240,essonne,île-de-france
4,Lead data scientist - Search & Recommandation ...,Carrefour recherche pour sa direction Data Fra...,28/12/2023,CDI,E,Autres activités informatiques,NaN,91,MASSY,oui,NaN,"Nous rejoindre, c'est rejoindre l'un des leade...",NaN,NaN,76270,49.687882,1.395968,seine-maritime,normandie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,Data scientist f/h (H/F),Safran est un groupe international de haute te...,07/11/2023,CDI,D,NaN,NaN,77,MOISSY CRAMAYEL,non,NaN,NaN,NaN,NaN,77550,48.628526,2.595898,seine-et-marne,île-de-france
408,Data scientist bureau d'etudes « support et se...,Safran est un groupe international de haute te...,26/10/2023,CDI,E,NaN,NaN,77,MONTEREAU SUR LE JARD,oui,NaN,NaN,NaN,NaN,77950,48.596650,2.672496,seine-et-marne,île-de-france
409,Data Scientist en Recherche Appliquée - Confir...,Au sein de notre service de recherche appliqué...,06/10/2023,CDI,E,Fabrication de matériel de distribution et de ...,Cadre,67,BENFELD,oui,SOCOMEC,NaN,NaN,NaN,67230,48.365397,7.601887,bas-rhin,grand est
410,POEI DATA SCIENTIST (H/F),Ce poste est accessible après une formation en...,07/09/2023,CDI,D,Formation continue d'adultes,Cadre,75,PARIS 03,non,ESICAN TRAINING by ATK GROUP,NaN,"Annuel de 45000,00 Euros à 50000,00 Euros sur ...",NaN,75003,48.862878,2.359999,paris,île-de-france
411,Technical leader data scientist f/h (H/F),Safran est un groupe international de haute te...,09/02/2023,CDI,E,NaN,NaN,78,MAGNY LES HAMEAUX,oui,NaN,NaN,NaN,NaN,78114,48.741021,2.052213,yvelines,île-de-france

In [91]:
df.shape

(412, 19)

In [92]:
jobs.shape

(411, 14)

In [95]:
df.to_csv('Jobs_V2.csv', index=False)