In [157]:
import pandas as pd

## On va ajouter de l'Open Data pour avoir les latitudes, longitudes et les régions complètes.

In [158]:
jobs = pd.read_csv('Jobs.csv')

In [159]:
cities = pd.read_csv('cities.csv',sep=';')

In [160]:
cities['ville'] = cities['ville'].str.upper()
jobs['ville'] = jobs['ville'].str.upper()

In [161]:
#on enlève les doublons
cities = cities.drop_duplicates(subset='ville')

In [162]:
nombre_de_doublons = cities.duplicated().sum()
print(nombre_de_doublons)

0

In [163]:
cities

,ville,code_postal,latitude,longitude,department_name,region
0,VILLE DU PONT,25650,46.999873,6.498147,doubs,bourgogne-franche-comté
1,VILLERS GRELOT,25640,47.361512,6.235167,doubs,bourgogne-franche-comté
2,VILLARS LES BLAMONT,25310,47.368384,6.871415,doubs,bourgogne-franche-comté
3,LES VILLEDIEU,25240,46.713906,6.265831,doubs,bourgogne-franche-comté
4,VILLERS BUZON,25170,47.228558,5.852187,doubs,bourgogne-franche-comté
...,...,...,...,...,...,...
39140,THIO,98829,NaN,NaN,nouvelle-calédonie,nouvelle-calédonie
39141,VOH,98833,NaN,NaN,nouvelle-calédonie,nouvelle-calédonie
39142,YATE,98834,NaN,NaN,nouvelle-calédonie,nouvelle-calédonie
39143,SIGAVE,98620,-14.270411,-178.155263,wallis-et-futuna,wallis-et-futuna
39144,UVEA,98600,-13.281863,-176.161928,wallis-et-futuna,wallis-et-futuna

In [164]:
#on enlève les doublons
jobs = jobs.drop_duplicates()

In [165]:
nombre_de_doublons = jobs.duplicated().sum()
print(nombre_de_doublons)

0

In [166]:
columns_to_drop = ['commune', 'latitude', 'longitude', 'codePostal']
jobs = jobs.drop(columns=columns_to_drop)

In [167]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 451
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   intitule                417 non-null    object
 1   description_offre       417 non-null    object
 2   dateCreation            417 non-null    object
 3   typeContrat             417 non-null    object
 4   experienceExige         242 non-null    object
 5   qualificationLibelle    266 non-null    object
 6   secteurActiviteLibelle  290 non-null    object
 7   departement             417 non-null    object
 8   ville                   370 non-null    object
 9   experienceOuiNon        417 non-null    object
 10  entreprise_nom          297 non-null    object
 11  entreprise_description  277 non-null    object
 12  salaire                 236 non-null    object
 13  profils                 175 non-null    object
dtypes: object(14)
memory usage: 48.9+ KB

In [168]:
df = pd.merge(jobs, cities, how='left', on='ville')

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 416
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   intitule                417 non-null    object
 1   description_offre       417 non-null    object
 2   dateCreation            417 non-null    object
 3   typeContrat             417 non-null    object
 4   experienceExige         242 non-null    object
 5   qualificationLibelle    266 non-null    object
 6   secteurActiviteLibelle  290 non-null    object
 7   departement             417 non-null    object
 8   ville                   370 non-null    object
 9   experienceOuiNon        417 non-null    object
 10  entreprise_nom          297 non-null    object
 11  entreprise_description  277 non-null    object
 12  salaire                 236 non-null    object
 13  profils                 175 non-null    object
 14  code_postal             314 non-null    float64
 15  latitude                314 non-null    float64
 16  longitude               314 non-null    float64
 17  department_name         314 non-null    object
 18  region                  314 non-null    object
dtypes: float64(3), object(16)
memory usage: 65.2+ KB

In [170]:
df['nouvelle_colonne'] = df['profils'] + ' ' + df['description_offre']
df = df.drop(columns=['profils'])

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 416
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   intitule                417 non-null    object
 1   description_offre       417 non-null    object
 2   dateCreation            417 non-null    object
 3   typeContrat             417 non-null    object
 4   experienceExige         242 non-null    object
 5   qualificationLibelle    266 non-null    object
 6   secteurActiviteLibelle  290 non-null    object
 7   departement             417 non-null    object
 8   ville                   370 non-null    object
 9   experienceOuiNon        417 non-null    object
 10  entreprise_nom          297 non-null    object
 11  entreprise_description  277 non-null    object
 12  salaire                 236 non-null    object
 13  code_postal             314 non-null    float64
 14  latitude                314 non-null    float64
 15  longitude               314 non-null    float64
 16  department_name         314 non-null    object
 17  region                  314 non-null    object
 18  nouvelle_colonne        175 non-null    object
dtypes: float64(3), object(16)
memory usage: 65.2+ KB

In [172]:
df.to_csv('Jobs_V2.csv', index=False)