In [1]:
import pandas as pd

## On va ajouter de l'Open Data pour avoir les latitudes, longitudes et les régions complètes.

In [2]:
jobs = pd.read_csv('Jobs.csv')

In [3]:
cities = pd.read_csv('cities.csv',sep=';')

In [4]:
cities['ville'] = cities['ville'].str.upper()
jobs['ville'] = jobs['ville'].str.upper()

In [5]:
#on enlève les doublons
cities = cities.drop_duplicates(subset='ville')

In [6]:
nombre_de_doublons = cities.duplicated().sum()
print(nombre_de_doublons)

0

In [7]:
cities

,ville,code_postal,latitude,longitude,department_name,region
0,VILLE DU PONT,25650,46.999873,6.498147,doubs,bourgogne-franche-comté
1,VILLERS GRELOT,25640,47.361512,6.235167,doubs,bourgogne-franche-comté
2,VILLARS LES BLAMONT,25310,47.368384,6.871415,doubs,bourgogne-franche-comté
3,LES VILLEDIEU,25240,46.713906,6.265831,doubs,bourgogne-franche-comté
4,VILLERS BUZON,25170,47.228558,5.852187,doubs,bourgogne-franche-comté
...,...,...,...,...,...,...
39140,THIO,98829,NaN,NaN,nouvelle-calédonie,nouvelle-calédonie
39141,VOH,98833,NaN,NaN,nouvelle-calédonie,nouvelle-calédonie
39142,YATE,98834,NaN,NaN,nouvelle-calédonie,nouvelle-calédonie
39143,SIGAVE,98620,-14.270411,-178.155263,wallis-et-futuna,wallis-et-futuna
39144,UVEA,98600,-13.281863,-176.161928,wallis-et-futuna,wallis-et-futuna

In [8]:
#on enlève les doublons
jobs = jobs.drop_duplicates()

In [9]:
nombre_de_doublons = jobs.duplicated().sum()
print(nombre_de_doublons)

0

In [10]:
columns_to_drop = ['commune', 'latitude', 'longitude', 'codePostal']
jobs = jobs.drop(columns=columns_to_drop)

In [11]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411 entries, 0 to 427
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   intitule                411 non-null    object
 1   description_offre       411 non-null    object
 2   dateCreation            411 non-null    object
 3   typeContrat             411 non-null    object
 4   experienceExige         267 non-null    object
 5   secteurActiviteLibelle  267 non-null    object
 6   qualificationLibelle    237 non-null    object
 7   departement             411 non-null    object
 8   ville                   350 non-null    object
 9   experienceOuiNon        411 non-null    object
 10  entreprise_nom          275 non-null    object
 11  entreprise_description  261 non-null    object
 12  salaire                 212 non-null    object
 13  profils                 144 non-null    object
dtypes: object(14)
memory usage: 48.2+ KB

In [12]:
df = pd.merge(jobs, cities, how='left', on='ville')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411 entries, 0 to 410
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   intitule                411 non-null    object
 1   description_offre       411 non-null    object
 2   dateCreation            411 non-null    object
 3   typeContrat             411 non-null    object
 4   experienceExige         267 non-null    object
 5   secteurActiviteLibelle  267 non-null    object
 6   qualificationLibelle    237 non-null    object
 7   departement             411 non-null    object
 8   ville                   350 non-null    object
 9   experienceOuiNon        411 non-null    object
 10  entreprise_nom          275 non-null    object
 11  entreprise_description  261 non-null    object
 12  salaire                 212 non-null    object
 13  profils                 144 non-null    object
 14  code_postal             294 non-null    float64
 15  latitude                294 non-null    float64
 16  longitude               294 non-null    float64
 17  department_name         294 non-null    object
 18  region                  294 non-null    object
dtypes: float64(3), object(16)
memory usage: 64.2+ KB

In [14]:
df['nouvelle_colonne'] = df['profils'] + ' ' + df['description_offre']
df = df.drop(columns=['profils'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411 entries, 0 to 410
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   intitule                411 non-null    object
 1   description_offre       411 non-null    object
 2   dateCreation            411 non-null    object
 3   typeContrat             411 non-null    object
 4   experienceExige         267 non-null    object
 5   secteurActiviteLibelle  267 non-null    object
 6   qualificationLibelle    237 non-null    object
 7   departement             411 non-null    object
 8   ville                   350 non-null    object
 9   experienceOuiNon        411 non-null    object
 10  entreprise_nom          275 non-null    object
 11  entreprise_description  261 non-null    object
 12  salaire                 212 non-null    object
 13  code_postal             294 non-null    float64
 14  latitude                294 non-null    float64
 15  longitude               294 non-null    float64
 16  department_name         294 non-null    object
 17  region                  294 non-null    object
 18  nouvelle_colonne        144 non-null    object
dtypes: float64(3), object(16)
memory usage: 64.2+ KB

## Transformation variable "Salaire"

In [16]:
import pandas as pd
import re
import numpy as np

In [17]:
#transformation des donnes type "Annuel de 40,00 Euros à 60,00 Euros" en "Annuel de 40000 Euros à 60000 Euros":
#transformation des données de type 'Mensuel de 1136,00 Euros sur 12 mois':
df['salaire'] = df['salaire'].replace('Mensuel de 1136,00 Euros sur 12 mois', 'Annuel de 13632,00')
df['salaire'] = df['salaire'].replace('Mensuel de 4000,00 Euros à 5000,00 Euros sur 12 mois', 'Annuel de 48000,00 Euros à 60000,00 Euros sur 12 mois')
df['salaire'] = df['salaire'].replace('Annuel de 40,00 Euros à 60,00 Euros', 'Annuel de 40000,00 Euros à 60000,00 Euros')
df['salaire'] = df['salaire'].replace('Annuel de 50,00 Euros à 70,00 Euros', 'Annuel de 50000,00 Euros à 70000,00 Euros')
df['salaire'] = df['salaire'].replace('Annuel de 26000 Euros à 36000 Euros sur 12 mois', 'Annuel de 26000,00 Euros à 36000,00 Euros sur 12 mois')

In [18]:
df['salaire'] = df['salaire'].astype(str)

In [19]:
def extract_salaire_min(salaire):
    match = re.search(r'(\d+,\d+)', salaire)
    return float(match.group(1).replace(',', '.')) if match else None

def extract_salaire_max(salaire):
    match = re.search(r'(\d+,\d+)(?: Euros à (\d+,\d+))?', salaire)
    return float(match.group(2).replace(',', '.')) if match and match.group(2) else None

df['salaire_min_annuel'] = df['salaire'].apply(extract_salaire_min)
df['salaire_max_annuel'] = df['salaire'].apply(extract_salaire_max)

In [20]:
df['salaire_min_annuel'] = pd.to_numeric(df['salaire_min_annuel'].replace('nan', np.nan), errors='coerce')
df['salaire_max_annuel'] = pd.to_numeric(df['salaire_max_annuel'].replace('nan', np.nan), errors='coerce')
df['salaire'] = df['salaire'].replace('nan', np.nan)

In [21]:
#Création de la variable 'salaire_annuel_mean':
df['salaire_annuel_mean'] = np.where(df['salaire_max_annuel'].notnull(),
                                     (df['salaire_min_annuel'] + df['salaire_max_annuel']) / 2,
                                     df['salaire_min_annuel'])

In [22]:
df.to_csv('Jobs_V3.csv', index=False)